---
layout: page
---

{% for post in site.posts %}
<div class="well banner shake-slow">
  <h1 class="post-title">
    <a href="{{post.url | prepend:site.baseurl | prepend:site.url}}">{{ post.title }}</a>
  </h1>
  <div class="post-meta">
    <div>
      <p>
        {{ post.description }}
      </p>
    </div>
  </div>
  <div class="dateTag">
      <div class="post-time">
      <img src="./css/pics/Time.png">
      <time>{{ post.date | date:"%D" }}</time>
    </div>
    <ul>
      {% for tag in post.tags %}
      <li>
        <a href="#">{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
    </div>
</div>
{% endfor %}
