<div class="sidebar ">
  <h2>近期文章</h2>
  <ul>
    {% for post in site.posts limit:5 %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2>关键字</h2>
  <ul>
    {% for tag in site.tags %}
    {% assign sum = '0' %}
    {% for post in site.posts %}
    {% for tagg in post.tags %}
    {% if tagg == tag[0] %}
        {% capture sum %}{{ sum |plus:1 }}{% endcapture %}
    {% endif %}
    {% endfor %}
    {% endfor %}
      <li><a href="#">{{ tag[0] }}</a>   <span class="badge" style="background-color: #3CA2A2">{{ sum }}</span></li>
    {% endfor %}
  </ul>
</div>
