<% if (site.posts.length){ %>
    <div class="widget-wrap">
      <h3 class="widget-title"><%= __('blogscroll') %></h3>
      <div class="widget">
        <a href="http://blog.silenttt.top/">TT的博客</a>
      </div>
    </div>
  <% } %>
  